.main{
  display: flex;
  flex : 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container{
  display: flex;
  flex : 0.6;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.subContainer{
  display: flex;
  flex-direction: row;
  flex : 1;
  justify-content: space-around;
  
}
.textInput{
  display : flex;
  height: 30px;
  margin-right: 10px;
  border-radius: 4px;
  border : 0.5px rgba(0, 0, 0, 0.2) solid;
  padding: 2px;
  padding-left: 5px;
}
.addButton{
  display : flex;
  padding: 10px;
  border : 0.5px rgba(0, 0, 0, 0.2) solid;
  border-radius: 4px;
  /* height: 25px; */
}
.listWrapper{
  display : flex;
  flex-direction: column;
  margin-top: 10px;
  flex: 1;
  width: 100%;

}
.listItems{
  border : 0.5px rgba(0, 0, 0, 0.2) solid;
  border-radius: 4px;
  margin-top: 10px;
  /* padding-top: 10px;
  padding-bottom: 10px; */
  padding: 7px;
}
.completedTask{
  
  text-decoration: line-through;
}